.rule-modal{
    height:30rem;
    width:50rem;
    background-color: var(--khaki-dark);
    margin:auto;
    margin-bottom:2rem;
    padding:1rem;
}

.rule-modal-heading{
    color:var(--golden-yellow);
    font-size: 3rem;
    
}

.rule-modal ul{
text-align: left;
color:white;
font-size:1.5rem;
line-height: 1.5cm;
}

.rule-ok-btn{
    color:var(--khaki-dark);
    font-weight: bold;
    padding:10px;
    width:4rem;
    cursor:pointer;
    font-size: 1rem;
    border-radius:5px;
    border-color:white;
}

.rule-ok-btn:hover{
    background-color: var(--golden-yellow);
}

@media only screen and (max-width: 900px){

    .rule-modal{
        height:35rem;
        width:30rem;
        padding:10px;
    }

    .rule-modal ul{
        font-size:1.5rem;
        line-height:1.2cm;
        }
        
        .rule-ok-btn{
            margin-top: 2rem;
        }

    .rule-modal-heading{
        font-size: 2rem;
    }
}